<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>splash slot id</string>
			<key>Key</key>
			<string>splash_slot_id</string>
			<key>DefaultValue</key>
			<string>800546808</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Interstitial slot id</string>
			<key>Key</key>
			<string>interstitial_slot_id</string>
			<key>DefaultValue</key>
			<string>900546941</string>
			<key>Titles</key>
			<array>
				<string>落地页</string>
				<string>应用下载</string>
			</array>
			<key>Values</key>
			<array>
				<string>900546941</string>
				<string>900546957</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>banner slot id</string>
			<key>Key</key>
			<string>banner_slot_id</string>
			<key>DefaultValue</key>
			<string>900546859</string>
			<key>Values</key>
			<array>
				<string>900546859</string>
				<string>900546170</string>
				<string>900546550</string>
			</array>
			<key>Titles</key>
			<array>
				<string>应用下载</string>
				<string>落地页</string>
				<string>应用下载/落地页随机出</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>应用下载</string>
				<string>落地页</string>
				<string>应用下载/落地页随机出</string>
				<string>视频广告落地页</string>
				<string>视频广告应用下载</string>
				<string>视频广告应用下载/落地页随机出</string>
			</array>
			<key>Title</key>
			<string>feed slot id</string>
			<key>Key</key>
			<string>feed_slot_id</string>
			<key>DefaultValue</key>
			<string>900546608</string>
			<key>Values</key>
			<array>
				<string>900546758</string>
				<string>900546238</string>
				<string>900546989</string>
				<string>900546608</string>
				<string>900546311</string>
				<string>900546910</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
